@use '../../../../styles/variables' as *;

/* ── Tape ── */
.camp__tape {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  width: 50px;
  height: 14px;
  opacity: 1;

  svg {
    width: 100%;
    height: 100%;
  }

  &--c {
    top: -2px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
  }
  &--l {
    top: 0;
    left: -6px;
    transform: rotate(-28deg);
  }
  &--r {
    top: 0;
    right: -6px;
    transform: rotate(28deg);
  }
}
